.ProductCardContainer{
    width: 300px;
height: 462px;

position: relative;


}
.ProductNew{
    position: absolute;
top: 0;
left: 0;
width: 130px;
height: 40px;
background-color: #c3c2cd;
padding: 0px 6px;


}
.ProductNew h2{
    font-family: Simplon Norm;
font-weight: 700;
font-size: 14px;
line-height: 40px;
letter-spacing: 0px;
text-transform: uppercase;
color: #000000;
}
.ProductCardContainer:hover{
  
cursor: pointer;
}
.ProductCardImage{
    width: 300px;
height: 399px;
top: 1146px;
left: 412px;

}
.ProductCardImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.ProductCardDetails{
    width: 300px;
height: 47px;
top: 1561px;
left: 412px;
gap: 8px;

}
.ProductCardDetails h2{
    margin-top: 5px;
}
.ProductCardDetails div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2px 5px;
}
.ProductCardDetails div p{
    font-family: Simplon Norm;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0px;

color: #888792;
}
.ProductCardDetails div p span{
    text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
}
.ProductCardDetails div img{
    width: 24px;
height: 24px;

}