.filtersContainer{
    max-width: 1248px;
height: 88px;
top: 532px;
left: 96px;
border: 1px solid #E5E5E5;
border-right: none;
border-left: none;
position: sticky;
top: 0;
left: 0;
display:  flex;
z-index: 1000;
align-items: center;
padding: 20px;
margin-bottom: 20px;

}
.filtersHeader{
    display: none;
}
.filtersItemsCount{
margin-right: 50px;
height: 40px;
top: 556px;
left: 96px;
font-family: Simplon Norm;
font-weight: 700;
font-size: 15px;
line-height: 40px;
letter-spacing: 0px;
text-transform: uppercase;
color: #252020;
}
.filtersToggleButton{
    width: 130px;
height: 40px;
top: 556px;
left: 266px;
gap: 8px;
display: flex;
align-items: center;
justify-content: center;
margin-right: auto;
}
.filtersToggleButton img{
    width: 16px;
height: 16px;



}
.filtersToggleButton button{
    width: 106px;
height: 40px;
font-family: Adobe Caslon Pro;
font-weight: 400;
font-size: 16px;
line-height: 40px;
letter-spacing: 0px;
text-align: right;
text-decoration: underline;
text-decoration-style: solid;

text-decoration-thickness: 0%;
color: #888792;
background-color: white;
border: none;
outline: none;
padding-bottom: 2px;;
cursor: pointer;

}
.filtersCategories{
   width: 148px;
height: 40px;

gap: 8px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 50px;
position: relative;
z-index: 100;
}
.filtersCategories h2{
    width: 124px;
height: 40px;
font-family: Simplon Norm;
font-weight: 700;
font-size: 18px;
line-height: 40px;
letter-spacing: 0px;
text-transform: uppercase;
color: #252020;
margin-right: 5px;

}
.filtersCategories img{
    width: 16px;
height: 16px;
top: 16px;
left: 16px;
transition: all 0.3s ease-out;
cursor: pointer;

}
.filtersCategoriesListContainer{
  width: 235px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  padding: 10px;
  padding-right: 20px;
  z-index: 1000;
  transition: all 1s ease-out;

}
.filtersCategoriesListContainer h1{
  font-family: Simplon Norm;
font-weight: 400;
font-size: 18px;
line-height: 40px;
letter-spacing: 0px;
text-align: right;
text-transform: uppercase;
z-index: 1000;
}
.filtersCategoriesListContainerHidden{
  display: none;
}
/*  Small screens */


@media (max-width: 900px) {
  .filtersContainer {
    max-width: 500px;
    margin: auto;
  }
  .filtersHeader {
    display: block;
    margin-right: 50px;
    padding-right: 35px;
    border-right: 1px solid #E5E5E5;
  }
  .filtersItemsCount {
    display: none;
  }
  .filtersToggleButton {
    display: none;
  }
}