.ourProductsContainer{
    
height: 168;
top: 292px;
left: 360px;
margin: auto;
margin-top: 40px;
margin-bottom: 40px;
}
.ourProductsTitle{
height: 72;
top: 292px;
left: 388px;
margin: auto;
}
.ourProductsTitle h1{
   font-family: Simplon Norm;
font-weight: 400;
font-size: 50px;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
color: #252020;

}
.ourProductsPara{
height: 80;
top: 380px;
left: 360px;

}
.ourProductsPara p{
    font-family: Simplon Norm;
font-weight: 400;
font-size: 22px;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
color: #252020;

}

@media (max-width: 900px) {
   .ourProductsContainer{
    
   max-width: 721;
height: 168;
top: 292px;
left: 360px;
margin: auto;
margin-top: 40px;
margin-bottom: 40px;
}
.ourProductsTitle{
    max-width:  666;
height: 72;
top: 292px;
left: 388px;
margin: auto;
}
.ourProductsTitle h1{
   font-family: Simplon Norm;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
color: #252020;

}
.ourProductsPara{
    max-width: 721;
height: 80;
top: 380px;
left: 360px;

}
.ourProductsPara p{
    font-family: Simplon Norm;
font-weight: 400;
font-size: 20px;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
color: #252020;
margin-top: 15px;

}
}
