
.navContainer{
    max-width: 1440;
height: 220;
border-width: 1px;

}
.navTop{
max-width: 1440;
height: 32;
display: flex;
justify-content: space-between;
padding-top: 8px;
padding-right: 274px;
padding-bottom: 8px;
padding-left: 274px;
background: #000000;

}
.navTopItem{
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 138px;
    height: 16px;
    display: flex
;

}
.navTopItemText{
    width: 112;
height: 14;
font-family: Simplon Norm;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
color: #EB4C6B;

}
.navTopItemIcon{
    width: 16;
height: 16;
color:#EB4C6B;
padding: 2px;
}
.navTopItemIcon div{
 border-radius: 1px;
}
.navTopItemIconContainer1{
display: flex;

gap:1px;
}
.navTopItemIconContainer2{
display: flex;
margin-top: 1px;
gap:1px;
}
.navTopItemIconBox1{
width: 5.6666669845581055;
height: 4;
top: 1.33px;
left: 1.34px;
border: 1px solid #EB4C6B;

}

.navTopItemIconBox2{
width: 5.6666669845581055;
height: 7.333333492279053;
top: 1.33px;
left: 9px;
border: 1px solid #EB4C6B
}
.navTopItemIconBox3{
width: 5.6666669845581055;
height: 7.333333492279053;
top: 7.33px;
left: 1.34px;
margin-top: -3px;
border: 1px solid #EB4C6B
}
.navTopItemIconBox4{
width: 5.6666669845581055;
height: 4;
top: 10.67px;
left: 9px;
border: 1px solid #EB4C6B;
margin-bottom: -2px;

}
/* Nav Bar   */
.navBar{
    display: flex;
    flex-direction: column;
    max-width: 1440;
height: 188;
top: 32px;
border-bottom-width: 1px;
background: #FFFFFF;
border-bottom: 1px solid #E5E5E5;
color: #000000;
padding: 20px
}
.navBarLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}
.navBarLogoText{
    width: 107;
height: 44;
top: 36px;
left: 667px;
font-family: Inter;
font-weight: 800;
font-size: 36px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
margin: auto;
transform: translateX(-50%);

}
.navBarLogoIcons{
 width: 244;
height: 24;
top: 46px;
left: 1100px;
gap: 24px;
display: flex;
align-items: center;

}
.navBarLogoIcons img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}
.navBarLogoIconsLanguage{
    width: 52;
height: 16;
gap: 5px;
display: flex;
align-items: top;
margin-bottom: 3px;}
.navBarLogoIconsLanguageText{
   width: 31;
height: 11;

font-weight: 700;
font-size: 16px;
leading-trim: Cap height;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
color: #252020;
 
}
.navBarLogoIconsLanguageIcon:hover{
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 2px;
   
}
.navBarLogoIconsLanguageIcon{
    width: 16;
height: 16;
margin-left: 2px;
}
.navBarLogoIconsLanguageIcon img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    
}

/* Nav Links */
.navBarLinks{
    width: 636;
height: 24;
top: 140px;
left: 402px;
gap: 64px;
margin-top: 20px;
display: flex;
justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navBarLinks h3{
font-family: Simplon Norm;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;

}