.navContainer{
    max-width: 1440px;
height: 220px;
border-width: 1px;

}
.navTop{
max-width: 1440px;
height: 32px;
display: flex;
justify-content: space-between;
padding: 8px 27px;
background: #000000;

}
.navTopItem{
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 138px;
    height: 16px;
    display: flex;

}
.navTopItemText{
    width: 112px;
height: 14px;
font-family: Simplon Norm;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
color: #EB4C6B;

}
.navTopItemIcon{
    width: 16px;
height: 16px;
color:#EB4C6B;
padding: 2px;
}
.navTopItemIcon div{
 border-radius: 1px;
}
.navTopItemIconContainer1{
display: flex;

gap:1px;
}
.navTopItemIconContainer2{
display: flex;
margin-top: 1px;
gap:1px;
}
.navTopItemIconBox1{
width: 5.6666669845581055px;
height: 4px;
top: 1.33px;
left: 1.34px;
border: 1px solid #EB4C6B;

}

.navTopItemIconBox2{
width: 5.6666669845581055px;
height: 7.333333492279053px;
top: 1.33px;
left: 9px;
border: 1px solid #EB4C6B
}
.navTopItemIconBox3{
width: 5.6666669845581055px;
height: 7.333333492279053px;
top: 7.33px;
left: 1.34px;
margin-top: -3px;
border: 1px solid #EB4C6B
}
.navTopItemIconBox4{
width: 5.6666669845581055px;
height: 4px;
top: 10.67px;
left: 9px;
border: 1px solid #EB4C6B;
margin-bottom: -2px;

}
/* Nav Bar   */
.navBar{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
height: 188px;
top: 32px;
border-bottom-width: 1px;
background: #FFFFFF;
border-bottom: 1px solid #E5E5E5;
color: #000000;
padding: 20px;
padding-bottom: 0px;
}
.navBarLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center; 
    padding: 0px 40px;
}
.navBarLogoText h1{
height: 44px;

font-family: Inter;
font-weight: 800;
font-size: 36px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
margin: auto;
transform: translateX(-50%);

}
.navBarLogoIcons{
 width: 244px;
height: 24px;
top: 46px;
left: 1100px;
gap: 24px;
display: flex;
align-items: center;

}
.navBarLogoIcons img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}
.navBarLogoIconsLanguage{
    width: 52px;
height: 16px;
gap: 5px;
display: flex;
align-items: top;
margin-bottom: 3px;}
.navBarLogoIconsLanguageText{
   width: 31px;
height: 11px;

font-weight: 700;
font-size: 16px;
leading-trim: Cap height;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
color: #252020;
 
}
.navBarLogoIconsLanguageIcon:hover{
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 2px;
   
}
.navBarLogoIconsLanguageIcon{
    width: 16px;
height: 16px;
margin-left: 2px;
}
.navBarLogoIconsLanguageIcon img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    
}

/* Nav Links */
.navBarLinks{
    width: 636px;
height: 24px;
top: 140px;
left: 402px;
gap: 64px;
margin-top: 20px;
display: flex;
justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navBarLinks h3{
font-family: Simplon Norm;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;

}
.navBarLinksSmall{
    display: none;
}

@media (max-width: 900px) {




/* Nav Bar   */
.navBar{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
height: 188px;
top: 32px;
border-bottom-width: 1px;
background: #FFFFFF;
border-bottom: 1px solid #E5E5E5;
color: #000000;
padding: 20px;
padding-bottom: 0px;
}
.navBarLogo{
 
    padding: 0px 10px;
}
.navBarLogoText h1{
    
height: 44px;
top: 36px;
font-family: Inter;
font-weight: 800;
font-size: 36px;
line-height: 100%;
letter-spacing: 1px;
margin: 10px auto;


}
.navBarLogoIcons{
 width: 244px;
height: 24px;
top: 46px;
left: 1100px;
gap: 24px;
display: flex;
align-items: center;

}
.navBarLogoIcons img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}
.navBarLogoIconsLanguage{
    width: 52px;
height: 16px;
gap: 5px;
display: flex;
align-items: top;
margin-bottom: 3px;}
.navBarLogoIconsLanguageText{
   width: 31px;
height: 11px;

font-weight: 700;
font-size: 16px;
leading-trim: Cap height;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;
color: #252020;
 
}
.navBarLogoIconsLanguageIcon:hover{
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 2px;
   
}
.navBarLogoIconsLanguageIcon{
    width: 16px;
height: 16px;
margin-left: 2px;
}
.navBarLogoIconsLanguageIcon img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    
}

/* Nav Links */
.navBarLinks{
    display: none;

}

.navBarLinksSmall{

height: 24px;
top: 140px;
left: 402px;
gap: 64px;
margin-top: 20px;
display: flex;
justify-content: center;
    align-items: center;
    margin: auto;
}
.navBarLinksSmall div{
    border: 1px solid #E5E5E5;
    width: 1px;
    height: 80px;
}
.navBarLinksSmall h3{
font-family: Simplon Norm;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 1px;
vertical-align: middle;

}

 
}